.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #6a5acd;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9em;
    color: #2a2929;
}
.container {
    margin-top: 1em;
}
.img-chantier {
    margin: auto;
    width: fit-content;
}
.img-chantier img {
    width: 45em;
    height: auto;
    border-radius: 10px;
}