footer {
    display: flex;
    flex-direction: column;
    background-color: #d68910 ;
    color: white;
}
.foot-link:hover {
    opacity: 0.5;
}
.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2em ;
    text-align: center;
}
.dist {
    width: 20em;
    height: auto;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em ;
    font-weight: 600;
    font-size: 1.5em;
}

footer span {
    Color : #d68910;
}
.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}